@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.posts{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.post{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  &__img{
    object-fit: cover;
    height: 12rem;
    width: 12rem;
    border-radius: .5rem;
  }
}